In [1]:
import pandas as pd
import numpy  as np

In [2]:
df = pd.read_csv('turnout.csv')

In [3]:
df

    year     VEP     VAP   total  ANES  felons  noncit  overseas  osvoters
0   1980  159635  164445   86515    71     802    5756      1803       NaN
1   1982  160467  166028   67616    60     960    6641      1982       NaN
2   1984  167702  173995   92653    74    1165    7482      2361       NaN
3   1986  170396  177922   64991    53    1367    8362      2216       NaN
4   1988  173579  181955   91595    70    1594    9280      2257       NaN
5   1990  176629  186159   67859    47    1901   10239      2659       NaN
6   1992  179656  190778  104405    75    2183   11447      2418       NaN
7   1994  182623  195258   75106    56    2441   12497      2229       NaN
8   1996  186347  200016   96263    73    2586   13601      2499       NaN
9   1998  190420  205313   72537    52    2920   14988      2937       NaN
10  2000  194331  210623  105375    73    3083   16218      2937       NaN
11  2002  198382  215462   78382    62    3168   17237      3308       NaN
12  2004  203483  220336  122295    77    3158   18068      3862       NaN
13  2008  213314  230872  131304    78    3145   19392      4972     263.0

In [5]:
pd.options.display.precision = 2

In [16]:
df = df.replace(np.NaN, 0)

In [18]:
df.describe()

,year,VEP,VAP,total,ANES,felons,noncit,overseas,osvoters
count,14.00,14.00,14.00,14.00,14.00,14.00,14.00,14.00,14.00
mean,1993.14,182640.29,194225.86,89778.29,65.79,2176.64,12229.14,2745.71,18.79
std,8.62,16065.14,20543.94,20627.89,10.47,875.28,4470.78,840.05,70.29
min,1980.00,159635.00,164445.00,64991.00,47.00,802.00,5756.00,1803.00,0.00
25%,1986.50,171191.75,178930.25,73179.25,57.00,1423.75,8591.50,2236.00,0.00
50%,1993.00,181139.50,193018.00,89055.00,70.50,2312.00,11972.00,2458.50,0.00
75%,1999.50,193353.25,209295.50,102369.50,73.75,3042.25,15910.50,2937.00,0.00
max,2008.00,213314.00,230872.00,131304.00,78.00,3168.00,19392.00,4972.00,263.00

In [63]:
#選挙年齢人口(VAP)を使った投票率
vote_rate_vap = (df.total) / (df.VAP + df.overseas)

In [64]:
vote_rate_vap

0     0.52
1     0.40
2     0.53
3     0.36
4     0.50
5     0.36
6     0.54
7     0.38
8     0.48
9     0.35
10    0.49
11    0.36
12    0.55
13    0.56
dtype: float64

In [65]:
#有権者人口(VEP)を使った投票率
vote_rate_vep = (df.total) / (df.VEP + df.overseas)

In [66]:
vote_rate_vep

0     0.54
1     0.42
2     0.54
3     0.38
4     0.52
5     0.38
6     0.57
7     0.41
8     0.51
9     0.38
10    0.53
11    0.39
12    0.59
13    0.60
dtype: float64

In [67]:
#VAPとANESの投票率推定値の差を求める
diff_vap = vote_rate_vap - (df.ANES / 100)
diff_vap

0    -0.19
1    -0.20
2    -0.21
3    -0.17
4    -0.20
5    -0.11
6    -0.21
7    -0.18
8    -0.25
9    -0.17
10   -0.24
11   -0.26
12   -0.22
13   -0.22
dtype: float64

In [68]:
diff_vep = vote_rate_vep - (df.ANES / 100)
diff_vep

0    -0.17
1    -0.18
2    -0.20
3    -0.15
4    -0.18
5    -0.09
6    -0.18
7    -0.15
8    -0.22
9    -0.14
10   -0.20
11   -0.23
12   -0.18
13   -0.18
dtype: float64

In [69]:
#論評
#ANESによる推定値 > VEPによる推定値 > VAPによる推定値　の順に大きい
#ANESによる推定値はその他２つよりも非常に大きく、バイアスが懸念される

In [70]:
#大統領選挙のバイアスの平均
diff_vep_pe_mean = diff_vep[(diff_vep.index % 2 == 0) | (diff_vep.index == 13)].mean()
print('{0:.2%}'.format(diff_vep_pe_mean))

-18.75%

In [71]:
#中間選挙のバイアスの平均
diff_vep_me_mean = diff_vep[(diff_vep.index % 2 == 1) & (diff_vep.index != 13)].mean()
print('{0:.2%}'.format(diff_vep_me_mean))

-15.98%

In [72]:
#論評
#大統領選挙のほうが中間選挙よりもバイアスが大きい。
#大統領選挙のほうが社会的関心が大きいことが要因として推測される。

In [73]:
diff_vep[7:].mean() - diff_vep[:7].mean()

-0.021565561224568486

In [62]:
#論評
#ANESのバイアスは時間とともに増加している

In [75]:
vote_rate_vap_adjusted = (df.total - df.osvoters) / (df.VAP - df.felons - df.noncit)
vote_rate_vap_adjusted

0     0.55
1     0.43
2     0.56
3     0.39
4     0.54
5     0.39
6     0.59
7     0.42
8     0.52
9     0.39
10    0.55
11    0.40
12    0.61
13    0.63
dtype: float64

In [ ]:
#論評
#ANESによる推定値 > 補正後VAPによる推定値 > VEPによる推定値 > VAPによる推定値　の順に大きい